KERNEL_SRC=/src/linux-dev
. test_core/lib/common.sh
. test_core/lib/setup_mce_tools.sh
. setup_base_test.sh

TEST_TITLE=base_memory_hotremove_pageblock_with_hwpoison
TEST_PREPARE=prepare_$TEST_TITLE
TEST_CLEANUP=cleanup_$TEST_TITLE
TEST_CONTROLLER=control_$TEST_TITLE
TEST_CHECKER=check_$TEST_TITLE
EXPECTED_RETURN_CODE="START HOTREMOVE_SUCCESS EXIT"
TEST_FLAGS=devel
do_test_async

TEST_TITLE=base_soft_offline_unpoison_stress
TEST_PREPARE=prepare_$TEST_TITLE
TEST_CLEANUP=cleanup_$TEST_TITLE
TEST_CONTROLLER=control_$TEST_TITLE
TEST_CHECKER=check_$TEST_TITLE
EXPECTED_RETURN_CODE="START EXIT"
TEST_FLAGS=devel
# FIXEDBY_SUBJECT="mm: soft-offline: don't free target page in successful page migration|mm/memory-failure: introduce get_hwpoison_page() for consistent refcount handling|mm/memory-failure: split thp earlier in memory error handling|mm/hwpoison-inject: check PageLRU of hpage|mm/hwpoison-inject: fix refcounting in no-injection case|mm/memory-failure: call shake_page() when error hits thp tail page|mm: hugetlb: cleanup using paeg_huge_active()|mm: hugetlb: introduce page_huge_active"
# FIXEDBY_PATCH_SEARCH_DATE="Apr 1 2015"
do_test_async
