KERNEL_SRC=/src/linux-dev
. test_core/lib/common.sh
. test_core/lib/setup_mce_tools.sh
. setup_base_test.sh

TEST_TITLE=base_memory_hotremove_pageblock_with_hwpoison
TEST_PREPARE=prepare_$TEST_TITLE
TEST_CLEANUP=cleanup_$TEST_TITLE
TEST_CONTROLLER=control_$TEST_TITLE
TEST_CHECKER=check_$TEST_TITLE
EXPECTED_RETURN_CODE="START HOTREMOVE_SUCCESS EXIT"
TEST_FLAGS=devel
do_test_async
