KERNEL_SRC=/src/linux-dev
. test_core/lib/common.sh
. test_core/lib/setup_mce_tools.sh
. test_core/lib/setup_hugetlb_base.sh
. test_core/lib/setup_thp_base.sh
. setup_multiple_injection_test.sh
. setup_hugetlb_test.sh
. setup_thp_test.sh

NR_THREAD=4
MONARCH_TIMEOUT=2000000
MULTIINJ_ITERATIONS=10

#
# buddy
#
TEST_TITLE=multiple_injection_buddy_hard-offline
TARGET_PAGEFLAG="buddy"
INJECT_TYPE=hard-offline
TEST_PREPARE=prepare_multiple_injection_race
TEST_CLEANUP=cleanup_multiple_injection_race
TEST_CONTROLLER=control_multiple_injection_race
TEST_CHECKER=check_multiple_injection_race
TEST_FLAGS=
TEST_RETRYABLE=
EXPECTED_RETURN_CODE="START EXIT"
FIXEDBY_SUBJECT="mm: soft-offline: don't free target page in successful page migration|mm/memory-failure: introduce get_hwpoison_page() for consistent refcount handling|mm/memory-failure: split thp earlier in memory error handling|mm/hwpoison-inject: check PageLRU of hpage|mm/hwpoison-inject: fix refcounting in no-injection case|mm/memory-failure: call shake_page() when error hits thp tail page|mm: hugetlb: cleanup using paeg_huge_active()|mm: hugetlb: introduce page_huge_active"
FIXEDBY_PATCH_SEARCH_DATE="Apr 1 2015"
do_test_async

TEST_TITLE=multiple_injection_buddy_soft-offline
TARGET_PAGEFLAG="buddy"
INJECT_TYPE=soft-offline
TEST_PREPARE=prepare_multiple_injection_race
TEST_CLEANUP=cleanup_multiple_injection_race
TEST_CONTROLLER=control_multiple_injection_race
TEST_CHECKER=check_multiple_injection_race
TEST_FLAGS=
TEST_RETRYABLE=
EXPECTED_RETURN_CODE="START EXIT"
FIXEDBY_SUBJECT="mm: soft-offline: don't free target page in successful page migration|mm/memory-failure: introduce get_hwpoison_page() for consistent refcount handling|mm/memory-failure: split thp earlier in memory error handling|mm/hwpoison-inject: check PageLRU of hpage|mm/hwpoison-inject: fix refcounting in no-injection case|mm/memory-failure: call shake_page() when error hits thp tail page|mm: hugetlb: cleanup using paeg_huge_active()|mm: hugetlb: introduce page_huge_active"
FIXEDBY_PATCH_SEARCH_DATE="Apr 1 2015"
do_test_async

TEST_TITLE=multiple_injection_buddy_hard-soft
TARGET_PAGEFLAG="buddy"
INJECT_TYPE=hard-soft
TEST_PREPARE=prepare_multiple_injection_race
TEST_CLEANUP=cleanup_multiple_injection_race
TEST_CONTROLLER=control_multiple_injection_race
TEST_CHECKER=check_multiple_injection_race
TEST_FLAGS=
TEST_RETRYABLE=
EXPECTED_RETURN_CODE="START EXIT"
FIXEDBY_SUBJECT="mm: soft-offline: don't free target page in successful page migration|mm/memory-failure: introduce get_hwpoison_page() for consistent refcount handling|mm/memory-failure: split thp earlier in memory error handling|mm/hwpoison-inject: check PageLRU of hpage|mm/hwpoison-inject: fix refcounting in no-injection case|mm/memory-failure: call shake_page() when error hits thp tail page|mm: hugetlb: cleanup using paeg_huge_active()|mm: hugetlb: introduce page_huge_active"
FIXEDBY_PATCH_SEARCH_DATE="Apr 1 2015"
do_test_async

#
# anonymous
#

TEST_TITLE=multiple_injection_anonymou_hard-offline
TARGET_PAGEFLAG=anonymous
INJECT_TYPE=hard-offline
TEST_PREPARE=prepare_multiple_injection_race
TEST_CLEANUP=cleanup_multiple_injection_race
TEST_CONTROLLER=control_multiple_injection_race
TEST_CHECKER=check_multiple_injection_race
TEST_FLAGS=
TEST_RETRYABLE=
EXPECTED_RETURN_CODE="START EXIT"
FIXEDBY_SUBJECT="mm: soft-offline: don't free target page in successful page migration|mm/memory-failure: introduce get_hwpoison_page() for consistent refcount handling|mm/memory-failure: split thp earlier in memory error handling|mm/hwpoison-inject: check PageLRU of hpage|mm/hwpoison-inject: fix refcounting in no-injection case|mm/memory-failure: call shake_page() when error hits thp tail page|mm: hugetlb: cleanup using paeg_huge_active()|mm: hugetlb: introduce page_huge_active"
FIXEDBY_PATCH_SEARCH_DATE="Apr 1 2015"
do_test_async

TEST_TITLE=multiple_injection_anonymous_soft-offline
TARGET_PAGEFLAG=anonymous
INJECT_TYPE=soft-offline
TEST_PREPARE=prepare_multiple_injection_race
TEST_CLEANUP=cleanup_multiple_injection_race
TEST_CONTROLLER=control_multiple_injection_race
TEST_CHECKER=check_multiple_injection_race
TEST_FLAGS=
TEST_RETRYABLE=
EXPECTED_RETURN_CODE="START EXIT"
FIXEDBY_SUBJECT="mm: soft-offline: don't free target page in successful page migration|mm/memory-failure: introduce get_hwpoison_page() for consistent refcount handling|mm/memory-failure: split thp earlier in memory error handling|mm/hwpoison-inject: check PageLRU of hpage|mm/hwpoison-inject: fix refcounting in no-injection case|mm/memory-failure: call shake_page() when error hits thp tail page|mm: hugetlb: cleanup using paeg_huge_active()|mm: hugetlb: introduce page_huge_active"
FIXEDBY_PATCH_SEARCH_DATE="Apr 1 2015"
do_test_async

TEST_TITLE=multiple_injection_anonymous_hard-soft
TARGET_PAGEFLAG=anonymous
INJECT_TYPE=hard-soft
TEST_PREPARE=prepare_multiple_injection_race
TEST_CLEANUP=cleanup_multiple_injection_race
TEST_CONTROLLER=control_multiple_injection_race
TEST_CHECKER=check_multiple_injection_race
TEST_FLAGS=
TEST_RETRYABLE=
EXPECTED_RETURN_CODE="START EXIT"
FIXEDBY_SUBJECT="mm: soft-offline: don't free target page in successful page migration|mm/memory-failure: introduce get_hwpoison_page() for consistent refcount handling|mm/memory-failure: split thp earlier in memory error handling|mm/hwpoison-inject: check PageLRU of hpage|mm/hwpoison-inject: fix refcounting in no-injection case|mm/memory-failure: call shake_page() when error hits thp tail page|mm: hugetlb: cleanup using paeg_huge_active()|mm: hugetlb: introduce page_huge_active"
FIXEDBY_PATCH_SEARCH_DATE="Apr 1 2015"
do_test_async

#
# free hugepage
#

# INJECT_TYPE=mce-srao
# TARGET_PAGEFLAG="huge,compound_head,mmap=huge,compound_head"
# TEST_TITLE=hugetlb_multiple_injection_on_free_hugepage_mce-srao
# TEST_PREPARE=prepare_hugetlb_race
# TEST_CLEANUP=cleanup_hugetlb_race
# TEST_CONTROLLER=control_multiple_injection_race
# TEST_CHECKER=check_multiple_injection_race
# TEST_FLAGS=devel
# TEST_RETRYABLE=
# EXPECTED_RETURN_CODE="START EXIT"
# do_test_async

TEST_TITLE=hugetlb_multiple_injection_free_hugepage_hard-offline
INJECT_TYPE=hard-offline
TARGET_PAGEFLAG="huge,compound_head,mmap=huge,compound_head"
TEST_PREPARE=prepare_hugetlb_race
TEST_CLEANUP=cleanup_hugetlb_race
TEST_CONTROLLER=control_multiple_injection_race
TEST_CHECKER=check_multiple_injection_race
TEST_FLAGS=
TEST_RETRYABLE=
EXPECTED_RETURN_CODE="START EXIT"
FIXEDBY_SUBJECT="mm: soft-offline: don't free target page in successful page migration|mm/memory-failure: introduce get_hwpoison_page() for consistent refcount handling|mm/memory-failure: split thp earlier in memory error handling|mm/hwpoison-inject: check PageLRU of hpage|mm/hwpoison-inject: fix refcounting in no-injection case|mm/memory-failure: call shake_page() when error hits thp tail page|mm: hugetlb: cleanup using paeg_huge_active()|mm: hugetlb: introduce page_huge_active"
FIXEDBY_PATCH_SEARCH_DATE="Apr 1 2015"
do_test_async

TEST_TITLE=hugetlb_multiple_injection_free_hugepage_soft-offline
INJECT_TYPE=soft-offline
TARGET_PAGEFLAG="huge,compound_head,mmap=huge,compound_head"
TEST_PREPARE=prepare_hugetlb_race
TEST_CLEANUP=cleanup_hugetlb_race
TEST_CONTROLLER=control_multiple_injection_race
TEST_CHECKER=check_multiple_injection_race
TEST_FLAGS=
TEST_RETRYABLE=
EXPECTED_RETURN_CODE="START EXIT"
FIXEDBY_SUBJECT="mm: soft-offline: don't free target page in successful page migration|mm/memory-failure: introduce get_hwpoison_page() for consistent refcount handling|mm/memory-failure: split thp earlier in memory error handling|mm/hwpoison-inject: check PageLRU of hpage|mm/hwpoison-inject: fix refcounting in no-injection case|mm/memory-failure: call shake_page() when error hits thp tail page|mm: hugetlb: cleanup using paeg_huge_active()|mm: hugetlb: introduce page_huge_active"
FIXEDBY_PATCH_SEARCH_DATE="Apr 1 2015"
do_test_async

TEST_TITLE=hugetlb_multiple_injection_free_hugepage_hard-soft
INJECT_TYPE=hard-soft
TARGET_PAGEFLAG="huge,compound_head,mmap=huge,compound_head"
TEST_PREPARE=prepare_hugetlb_race
TEST_CLEANUP=cleanup_hugetlb_race
TEST_CONTROLLER=control_multiple_injection_race
TEST_CHECKER=check_multiple_injection_race
TEST_FLAGS=
TEST_RETRYABLE=
EXPECTED_RETURN_CODE="START EXIT"
FIXEDBY_SUBJECT="mm: soft-offline: don't free target page in successful page migration|mm/memory-failure: introduce get_hwpoison_page() for consistent refcount handling|mm/memory-failure: split thp earlier in memory error handling|mm/hwpoison-inject: check PageLRU of hpage|mm/hwpoison-inject: fix refcounting in no-injection case|mm/memory-failure: call shake_page() when error hits thp tail page|mm: hugetlb: cleanup using paeg_huge_active()|mm: hugetlb: introduce page_huge_active"
FIXEDBY_PATCH_SEARCH_DATE="Apr 1 2015"
do_test_async

#
# active hugepage
#
TEST_TITLE=hugetlb_multiple_injection_active_hugepage_hard-offline
INJECT_TYPE=hard-offline
TARGET_PAGEFLAG="huge,compound_head,mmap=huge,compound_head,mmap"
TEST_PREPARE=prepare_hugetlb_race
TEST_CLEANUP=cleanup_hugetlb_race
TEST_CONTROLLER=control_multiple_injection_race
TEST_CHECKER=check_multiple_injection_race
TEST_FLAGS=
TEST_RETRYABLE=
EXPECTED_RETURN_CODE="START EXIT"
do_test_async

TEST_TITLE=hugetlb_multiple_injection_active_hugepage_soft-offline
INJECT_TYPE=soft-offline
TARGET_PAGEFLAG="huge,compound_head,mmap=huge,compound_head,mmap"
TEST_PREPARE=prepare_hugetlb_race
TEST_CLEANUP=cleanup_hugetlb_race
TEST_CONTROLLER=control_multiple_injection_race
TEST_CHECKER=check_multiple_injection_race
TEST_FLAGS=
TEST_RETRYABLE=
EXPECTED_RETURN_CODE="START EXIT"
do_test_async

TEST_TITLE=hugetlb_multiple_injection_active_hugepage_hard-soft
INJECT_TYPE=hard-soft
TARGET_PAGEFLAG="huge,compound_head,mmap=huge,compound_head,mmap"
TEST_PREPARE=prepare_hugetlb_race
TEST_CLEANUP=cleanup_hugetlb_race
TEST_CONTROLLER=control_multiple_injection_race
TEST_CHECKER=check_multiple_injection_race
TEST_FLAGS=
TEST_RETRYABLE=
EXPECTED_RETURN_CODE="START EXIT"
do_test_async

#
# thp
#
TEST_TITLE=multiple_injection_thp_hard-offline
INJECT_TYPE=hard-offline
TARGET_PAGEFLAG="thp=thp"
TEST_PREPARE=prepare_multiple_injection_thp
TEST_CLEANUP=cleanup_multiple_injection_thp
TEST_CONTROLLER=control_multiple_injection_race
TEST_CHECKER=check_multiple_injection_race
TEST_FLAGS=devel
TEST_RETRYABLE=
EXPECTED_RETURN_CODE="START EXIT"
do_test_async

TEST_TITLE=multiple_injection_thp_soft-offline
INJECT_TYPE=soft-offline
TARGET_PAGEFLAG="thp=thp"
TEST_PREPARE=prepare_multiple_injection_thp
TEST_CLEANUP=cleanup_multiple_injection_thp
TEST_CONTROLLER=control_multiple_injection_race
TEST_CHECKER=check_multiple_injection_race
TEST_FLAGS=devel
TEST_RETRYABLE=
EXPECTED_RETURN_CODE="START EXIT"
do_test_async

TEST_TITLE=multiple_injection_thp_hard-soft
INJECT_TYPE=hard-soft
TARGET_PAGEFLAG="thp=thp"
TEST_PREPARE=prepare_multiple_injection_thp
TEST_CLEANUP=cleanup_multiple_injection_thp
TEST_CONTROLLER=control_multiple_injection_race
TEST_CHECKER=check_multiple_injection_race
TEST_FLAGS=devel
TEST_RETRYABLE=
EXPECTED_RETURN_CODE="START EXIT"
do_test_async

DIFFERENT_PFNS=true

TEST_TITLE=multiple_injection_thp_hard-offline_different_pfns
INJECT_TYPE=hard-offline
TARGET_PAGEFLAG="thp,compound_head=thp,compound_head"
TEST_PREPARE=prepare_multiple_injection_thp
TEST_CLEANUP=cleanup_multiple_injection_thp
TEST_CONTROLLER=control_multiple_injection_race
TEST_CHECKER=check_multiple_injection_race
TEST_FLAGS=devel
TEST_RETRYABLE=
EXPECTED_RETURN_CODE="START EXIT"
do_test_async

DIFFERENT_PFNS=true

TEST_TITLE=multiple_injection_thp_soft-offline_different_pfns
INJECT_TYPE=soft-offline
TARGET_PAGEFLAG="thp,compound_head=thp,compound_head"
TEST_PREPARE=prepare_multiple_injection_thp
TEST_CLEANUP=cleanup_multiple_injection_thp
TEST_CONTROLLER=control_multiple_injection_race
TEST_CHECKER=check_multiple_injection_race
TEST_FLAGS=devel
TEST_RETRYABLE=
EXPECTED_RETURN_CODE="START EXIT"
do_test_async

DIFFERENT_PFNS=true

TEST_TITLE=multiple_injection_thp_hard-soft_different_pfns
INJECT_TYPE=hard-soft
TARGET_PAGEFLAG="thp,compound_head=thp,compound_head"
TEST_PREPARE=prepare_multiple_injection_thp
TEST_CLEANUP=cleanup_multiple_injection_thp
TEST_CONTROLLER=control_multiple_injection_race
TEST_CHECKER=check_multiple_injection_race
TEST_FLAGS=devel
TEST_RETRYABLE=
EXPECTED_RETURN_CODE="START EXIT"
do_test_async
unset DIFFERENT_PFNS

MULTIINJ_ITERATIONS=30

TEST_TITLE=multiple_injection_thp_hard-offline_background
INJECT_TYPE=hard-offline
TARGET_PAGEFLAG="thp=thp"
TEST_PREPARE=prepare_multiple_injection_thp_background
TEST_CLEANUP=cleanup_multiple_injection_thp_background
TEST_CONTROLLER=control_multiple_injection_race
TEST_CHECKER=check_multiple_injection_race
TEST_FLAGS=devel
TEST_RETRYABLE=
EXPECTED_RETURN_CODE="START EXIT"
do_test_async

TEST_TITLE=multiple_injection_thp_soft-offline_background
INJECT_TYPE=soft-offline
TARGET_PAGEFLAG="thp=thp"
TEST_PREPARE=prepare_multiple_injection_thp_background
TEST_CLEANUP=cleanup_multiple_injection_thp_background
TEST_CONTROLLER=control_multiple_injection_race
TEST_CHECKER=check_multiple_injection_race
TEST_FLAGS=devel
TEST_RETRYABLE=
EXPECTED_RETURN_CODE="START EXIT"
do_test_async

TEST_TITLE=multiple_injection_thp_hard-soft_background
INJECT_TYPE=hard-soft
TARGET_PAGEFLAG="thp=thp"
TEST_PREPARE=prepare_multiple_injection_thp_background
TEST_CLEANUP=cleanup_multiple_injection_thp_background
TEST_CONTROLLER=control_multiple_injection_race
TEST_CHECKER=check_multiple_injection_race
TEST_FLAGS=devel
TEST_RETRYABLE=
EXPECTED_RETURN_CODE="START EXIT"
do_test_async

