KERNEL_SRC=/src/linux-dev
. test_core/lib/setup_mce_tools.sh

DEFAULT_TEST_PREPARE=prepare_test
DEFAULT_TEST_CLEANUP=cleanup_test

. setup_thp_test.sh

DEFAULT_TEST_CONTROLLER=control_thp
DEFAULT_TEST_CHECKER=check_thp
ERROR_TYPE=mce-srao

ERROR_OFFSET=0

TEST_TITLE="thp_mce-srao_head_later-access"
EXPECTED_RETURN_CODE="START THP_ALLOC_SUCCEED ACCESS KILLED"
TEST_PROGRAM="${TTHP} -c"
do_test_sync

TEST_TITLE="thp_mce-srao_head_avoid-access"
EXPECTED_RETURN_CODE="START THP_ALLOC_SUCCEED EXIT"
TEST_PROGRAM="${TTHP} -c -A"
do_test_sync

ERROR_OFFSET=1

TEST_TITLE="thp_mce-srao_tail_later-access"
EXPECTED_RETURN_CODE="START THP_ALLOC_SUCCEED ACCESS KILLED"
TEST_PROGRAM="${TTHP} -c"
do_test_sync

TEST_TITLE="thp_mce-srao_tail_avoid-access"
EXPECTED_RETURN_CODE="START THP_ALLOC_SUCCEED EXIT"
TEST_PROGRAM="${TTHP} -c -A"
do_test_sync


ERROR_TYPE=hard-offline

ERROR_OFFSET=0

TEST_TITLE="thp_hard-offline_head_later-access"
EXPECTED_RETURN_CODE="START THP_ALLOC_SUCCEED ACCESS KILLED"
TEST_PROGRAM="${TTHP} -c"
do_test_sync

TEST_TITLE="thp_hard-offline_head_avoid-access"
EXPECTED_RETURN_CODE="START THP_ALLOC_SUCCEED EXIT"
TEST_PROGRAM="${TTHP} -c -A"
do_test_sync

ERROR_OFFSET=1

TEST_TITLE="thp_hard-offline_tail_later-access"
EXPECTED_RETURN_CODE="START THP_ALLOC_SUCCEED ACCESS KILLED"
TEST_PROGRAM="${TTHP} -c"
do_test_sync

TEST_TITLE="thp_hard-offline_tail_avoid-access"
EXPECTED_RETURN_CODE="START THP_ALLOC_SUCCEED EXIT"
TEST_PROGRAM="${TTHP} -c -A"
do_test_sync


ERROR_TYPE=soft-offline
DEFAULT_TEST_CHECKER=check_thp_soft_offline

ERROR_OFFSET=0

TEST_TITLE="thp_soft-offline_head_later-access"
EXPECTED_RETURN_CODE="START THP_ALLOC_SUCCEED ACCESS EXIT"
TEST_PROGRAM="${TTHP} -c"
do_test_sync

TEST_TITLE="thp_soft-offline_head_avoid-access"
EXPECTED_RETURN_CODE="START THP_ALLOC_SUCCEED EXIT"
TEST_PROGRAM="${TTHP} -c -A"
do_test_sync

ERROR_OFFSET=1

TEST_TITLE="thp_soft-offline_tail_later-access"
EXPECTED_RETURN_CODE="START THP_ALLOC_SUCCEED ACCESS EXIT"
TEST_PROGRAM="${TTHP} -c"
do_test_sync

TEST_TITLE="thp_soft-offline_tail_avoid-access"
EXPECTED_RETURN_CODE="START THP_ALLOC_SUCCEED EXIT"
TEST_PROGRAM="${TTHP} -c -A"
do_test_sync


DEFAULT_TEST_CHECKER=check_thp
ERROR_TYPE=madv_hard
ERROR_OFFSET=0

TEST_TITLE="thp_madv_hard_head_later-access"
EXPECTED_RETURN_CODE="START THP_ALLOC_SUCCEED ACCESS KILLED"
TEST_PROGRAM="${TTHP} -H"
do_test_sync

TEST_TITLE="thp_madv_hard_head_avoid-access"
EXPECTED_RETURN_CODE="START THP_ALLOC_SUCCEED EXIT"
TEST_PROGRAM="${TTHP} -H -A"
do_test_sync

ERROR_OFFSET=1

TEST_TITLE="thp_madv_hard_tail_later-access"
EXPECTED_RETURN_CODE="START THP_ALLOC_SUCCEED ACCESS KILLED"
TEST_PROGRAM="${TTHP} -H"
do_test_sync

TEST_TITLE="thp_madv_hard_tail_avoid-access"
EXPECTED_RETURN_CODE="START THP_ALLOC_SUCCEED EXIT"
TEST_PROGRAM="${TTHP} -H -A"
do_test_sync


DEFAULT_TEST_CHECKER=check_thp_soft_offline
ERROR_TYPE=madv_soft
ERROR_OFFSET=0

TEST_TITLE="thp_madv_soft_head_later-access"
EXPECTED_RETURN_CODE="START THP_ALLOC_SUCCEED ACCESS EXIT"
TEST_PROGRAM="${TTHP} -S"
do_test_sync

TEST_TITLE="thp_madv_soft_head_avoid-access"
EXPECTED_RETURN_CODE="START THP_ALLOC_SUCCEED EXIT"
TEST_PROGRAM="${TTHP} -S -A"
do_test_sync

ERROR_OFFSET=1

TEST_TITLE="thp_madv_soft_tail_later-access"
EXPECTED_RETURN_CODE="START THP_ALLOC_SUCCEED ACCESS EXIT"
TEST_PROGRAM="${TTHP} -S"
do_test_sync

TEST_TITLE="thp_madv_soft_tail_avoid-access"
EXPECTED_RETURN_CODE="START THP_ALLOC_SUCCEED EXIT"
TEST_PROGRAM="${TTHP} -S -A"
do_test_sync
